<div *ngIf="isOpen">
  <h4>Genre selected: {{data.seeds[0].id}}</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" sortable="preview" (sort)="onSort($event)">Preview</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of data.tracks">
        <td><a href="{{track.external_urls.spotify}}" target='_blank'>{{track.name}}</a></td>
        <td>
          <video *ngIf="track.preview_url" controls>
              <source src="{{track.preview_url}}" type="audio/mpeg">
          </video>
        </td>
      </tr>
    </tbody>
  </table>
</div>